{% extends "base.html" %}
{% block title %}About - özgürsözlük{% endblock %}
{% block meta %}<meta name="title" content="About - özgürsözlük">{% endblock %}
{% block main %}
    <div class="about-container">
        <h3 class="about-section-title" style="margin-top: 0;">About</h3>
        <p>
            This project is free alternative Ekşi Sözlük front-end focused on privacy and performance. The source is available on GitHub at <a href="https://github.com/beucismis/ozgursozluk">https://github.com/beucismis/ozgursozluk</a>
        </p>
        <p>
            Made with <3 on the <a href="{{ url_for('topic', path='thinkpad-t61--1883047') }}">T61</a>.
        </p>
        <ul>
            <li>No JavaScript</li>
            <li>Docker support</li>
            <li>Topic searching</li>
            <li>Viewing topic, entry and author</li>
            <li>Gündem and Debe page support</li>
            <li>Optional displaying author nickname and more</li>
            <li>8 different theme support</li>
            <li>Self-hosted, ad-free, simple and fast</li>
            <li>Responsive support for small screens</li>
        </ul>
        <p>This project does not have an official affiliation with eksisozluk.com.</p>
        <h3 class="about-section-title">Donating</h3>
        <p>Soon...</p>
        <h3 class="about-section-title">Contact</h3>
        <p>Soon...</p>
        <h3 class="about-section-title">Package Version Info</h3>
        <p>
            <a href="https://github.com/pallets/flask">flask</a>: v{{ flask_version }}
            -
            <a href="https://github.com/beucismis/ozgursozluk">ozgursozluk</a>: v{{ app_version }}
            -
            <a href="https://github.com/beucismis/limoon">limoon</a>: v{{ limoon_version }}
        </p>
    </div>
{% endblock %}
