{% extends "base.html" %}
{% block title %}{{ author.nickname }} - özgürsözlük{% endblock %}
{% block description %}
    {{ author.nickname }}
    {% if author.level %}({{ author.level }}){% endif %}
{% endblock %}
{% block meta %}<meta name="title" content="{{ author.nickname }} - özgürsözlük">{% endblock %}
{% block main %}
    <div class="author-container">
        <img class="author-avatar"
             src="{{ author.avatar_url }}"
             alt="{{ author.nickname }}'s avatar">
        <p class="author-nickname">{{ author.nickname }}</p>
        <p class="author-rank">
            <a class="text-decoration: none;"
               href="{{ url_for("content.author_badges", nickname=author.nickname) }}">
                {% if author.rank %}{{ author.rank.name }} ({{ author.rank.karma }}){% endif %}
            </a>
        </p>
        <small class="author-record-date">{{ author.record_date }}</small>
        -
        <small class="author-total-entry">{{ author.total_entry }} Entry</small>
        -
        <small class="author-follower-count">{{ author.follower_count }} Follower</small>
        -
        <small class="author-following-count">{{ author.following_count }} Following</small>
    </div>
    {% if author.biography_html %}
        <div class="author-biography">{{ author.biography_html|replace_links|safe }}</div>
    {% endif %}
    {% if author_last_entrys %}
        Last Entrys:
        <div class="author-last-entrys">
            {% from "macros.html" import render_entry %}
            {% for entry in author_last_entrys %}
                {{ render_entry(entry, is_pinned_override=entry.is_pinned_on_profile, hide_author_override=True, show_topic_title=True) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
