{% extends "base.html" %}
{% block title %}Debe - özgürsözlük{% endblock %}
{% block rss %}
    <link rel="alternate"
          type="application/rss+xml"
          title="debe"
          href="{{ url_for('utility.debe_xml', _external=True) }}" />
{% endblock %}
{% block meta %}<meta name="title" content="Debe - özgürsözlük" />{% endblock %}
{% block main %}
    <div class="topic-nav">
        <div class="topic-nav-item">
            <p>
                Debe - <a href="{{ url_for("core.index") }}">Gündem</a> - <a href="{{ url_for("core.channels") }}">Channels</a>
            </p>
        </div>
        <div class="topic-nav-item"></div>
    </div>
    <div class="topic-container">
        <div class="topic-container-entry-wrapper">
            {% for entry in debe %}
                <a class="debe-entry"
                   style="text-decoration: none"
                   href="{{ url_for('content.entry', id=entry.id) }}">
                    <div>
                        <div class="debe-entry-title">{{ entry.topic_title }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
