{% extends "base.html" %}
{% block title %}Gündem - özgürsözlük{% endblock %}
{% block description %}Free alternative Ekşi Sözlük front-end{% endblock %}
{% block rss %}
    <link rel="alternate"
          type="application/rss+xml"
          title="gündem"
          href="{{ url_for('utility.gundem_xml', _external=True) }}" />
{% endblock %}
{% block meta %}<meta name="title" content="Gündem - özgürsözlük" />{% endblock %}
{% block main %}
    <div class="topic-nav">
        <div class="topic-nav-item">
            <p>
                Gündem - <a href="{{ url_for("core.debe") }}">Debe</a> - <a href="{{ url_for("core.channels") }}">Channels</a>
            </p>
        </div>
        <div class="topic-nav-item">
            {% if page > 1 %}
                <a href="{{ url_for('core.index', p=page-1) }}">Previous</a>
                {% if page < 3 %}/{% endif %}
            {% endif %}
            {% if page < 3 %}<a href="{{ url_for('core.index', p=page+1) }}">Next</a>{% endif %}
            {% if 3 > 1 %}
                -
                <a href="{{ url_for('core.index', p=3) }}">Last Page</a>
            {% endif %}
        </div>
    </div>
    <div class="topic-container">
        {% from "macros.html" import render_agenda %}
        {% for topic in agenda %}
            {% if request.cookies.get('display_pinned_topics') == 'true' %}
                {{ render_agenda(topic, action="popular") }}
            {% else %}
                {% if not topic.pinned %}{{ render_agenda(topic, action="popular") }}{% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="topic-nav" style="padding-top: 0">
        <div class="topic-nav-item"></div>
        <div class="topic-nav-item">
            {% if page > 1 %}
                <a href="{{ url_for('core.index', p=page-1) }}">Previous</a>
                {% if page < 3 %}/{% endif %}
            {% endif %}
            {% if page < 3 %}<a href="{{ url_for('core.index', p=page+1) }}">Next</a>{% endif %}
            {% if 3 > 1 %}
                -
                <a href="{{ url_for('core.index', p=3) }}">Last Page</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
