* {
    box-sizing: border-box;
    margin: 0;
    outline: unset;
    padding: 0;
    text-decoration: none;
}

html {
    background-color: var(--main-bg);
    color: var(--main-fg);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    color: var(--main-fg);
}

nav {
    align-items: center;
    background-color: var(--entry-bg);
    display: flex;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.inner-nav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 1000px;
    margin: auto;
    padding: 0 1rem;
}

.nav-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    line-height: 50px;
    overflow: hidden;
}

.nav-item.right {
    justify-content: flex-end;
    text-align: right;
}

.nav-item.right a {
    padding-left: 1rem;
}

.nav-item a.site-name {
    font-family: FreeSerif;
    font-size: 25px;
}

.ozgur {
    color: var(--main-fg);
}

.sozluk {
    color: var(--title-fg);
}

.site-logo {
    height: 21px;
    margin-right: 0.5rem;
    width: 21px;
}

.container {
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: auto;
    max-width: 900px;
    min-height: 100vh;
    padding-top: 100px;
}

.panel-container {
    margin: auto;
}

.search-bar > form {
    display: flex;
    margin: auto;
    padding: 12px;
}

.search-bar > form input {
    background: var(--main-bg);
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    height: unset;
    margin-right: 8px;
    padding: 5px;
    width: 100%;
}

.search-bar > form button {
    background: var(--main-bg);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    width: 30px;
}

.topic-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0 0.1rem;
}

.topic-nav > .topic-nav-item p {
    margin: 0;
    padding: 0;
}

.page-title {
    font-size: 1.2em;
    margin-right: 0.5rem;
}

.topic-nav .topic-nav-item a {
    text-decoration: underline;
}

.topic-container {
    margin: 0 auto;
    width: 100%;
}

.topic-title {
    font-size: 1em;
    font-weight: normal;
}

.topic-item {
    background-color: var(--entry-bg);
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-decoration: none;
}

.topic-entry-count small {
    opacity: 0.5;
}

.topic-container-entry-wrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.topic-container-entry-wrapper .debe-entry {
    background-color: var(--entry-bg);
    margin: 0;
    padding: 0.5rem;
}

.entry-container {
    background-color: var(--entry-bg);
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
}

.entry-container-items {
    opacity: 0.8;
    padding-top: 0.5rem;
    text-align: right;
}

.entry-container a {
    text-decoration: none;
}

.entry-images-container {
    border: 1px solid var(--main-bg);
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.entry-image {
    border-radius: 3px;
    height: auto;
    margin: auto;
    object-fit: cover;
    width: 50%;
}

.author-container {
    margin: 1rem auto;
    text-align: center;
    width: 100%;
}

.author-avatar {
    border: none;
    border-radius: 50%;
    height: 150px;
    margin: 0.5rem;
    width: 150px;
}

.author-rank {
    font-size: 14px;
    opacity: 0.5;
    padding-bottom: 1rem;
}

.author-biography {
    background-color: var(--entry-bg);
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
}

.about-container a,
.settings-container a {
    text-decoration: underline;
}

.author-badges-container,
.about-container,
.settings-container,
.not-found-container {
    background-color: var(--entry-bg);
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
}

.author-badges-container {
    margin: 0.5rem auto;
}

.author-badge-container {
    display: flex;
    padding-bottom: 1rem;
}

.author-badge-container:last-child {
    padding-bottom: 0;
}

.badge-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.badge-box:last-child {
    padding-left: 1rem;
}

.author-badge-icon {
    height: 55px;
    width: 55px;
}

.author-badge-description {
    opacity: 0.5;
}

.about-container {
    margin: 0.5rem 0;
}

.about-container p {
    margin: 14px 0;
    word-break: break-word;
}

.about-container ul {
    margin-bottom: 14px;
    padding-left: 1.3em;
}

.settings-container {
    margin: 0.5rem auto;
    max-width: 500px;
}

fieldset {
    border: 0;
    padding: 0;
}

.settings-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings-group label {
    flex-grow: 1;
}

.settings-group select,
.settings-group input[type="text"] {
    background: var(--main-bg);
    border: none;
    border-radius: 4px;
    color: var(--main-fg);
    flex-shrink: 0;
    padding: 2px 4px;
    width: 170px;
}

.checkbox-container {
    cursor: pointer;
    display: block;
    padding-right: 22px;
    position: relative;
    user-select: none;
}

.setting-section-title,
.about-section-title {
    border-bottom: 1px solid var(--main-bg);
    font-size: inherit;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}

.checkbox-container input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.checkbox {
    background-color: var(--main-bg);
    border: none;
    border-radius: 4px;
    height: 17px;
    padding: 0 2px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 17px;
}

.checkbox:after {
    content: "";
    display: none;
    position: absolute;
}

.checkbox-container:active input ~ .checkbox {
    border-color: var(--main-fg);
}

.checkbox-container input:checked ~ .checkbox:after {
    display: block;
}

.checkbox-container .checkbox::after {
    bottom: 0;
    content: "\e801";
    font-family: fontello;
    font-size: 13px;
    left: 2px;
}

.settings-note {
    border-bottom: 1px solid var(--main-bg);
    border-top: 1px solid var(--main-bg);
    margin: 20px 0;
    padding: 10px 0;
}

button {
    background: var(--main-bg);
    border: 0;
    border-radius: 4px;
    color: var(--main-fg);
    cursor: pointer;
    float: right;
    font-size: 15px;
    padding: 5px;
}

.settings button {
    margin: 6px 0 3px 0;
}

.settings-reset {
    float: left;
}

.not-found-container {
    margin: 0.5rem 0;
}

.not-found-title {
    border-bottom: 1px solid var(--main-bg);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.fake-button {
    background-color: var(--button-bg);
    border-radius: 4px;
    color: var(--main-fg);
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
}

.fake-button:hover {
    opacity: 0.81;
}

.code {
    border: 1px solid var(--main-bg);
    font-family: monospace;
    overflow-wrap: break-word;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .site-logo {
        display: none;
    }

    .panel-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .topic-container-entry-wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* Ekşi Sözlük Custom Class */

a.url {
    color: var(--entry-link-fg);
}

a.b {
    color: var(--entry-link-fg);
}

sup.ab a {
    color: var(--entry-link-fg);
}

div.content {
    word-wrap: break-word;
}
