html {
    font-family: sans-serif;
    color: var(--main-fg);
    background-color: var(--main-bg);
}

a {
    color: var(--main-fg);
}

h1 a {
    color: black;
    text-decoration: none;
}

small {
    opacity: 0.5;
    color: var(--main-fg);
}

small a {
    text-decoration: none;
}

input, button, select {
    outline: none;
    padding: 0.5rem;
}

button, select {
    cursor: pointer;
}

header div {
    top: 0;
    right: 0;
    position: absolute;
    padding-right: 0.5rem;
}

header a {
    display: inline-block;
    padding: 0.5rem 0.2rem;
}

main {
    width: 80%;
    margin: 0 auto;
}

nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

nav a {
    padding: 0.5rem;
    display: inline-block;
}

form {
    padding-top: 0.5rem;
}

form .settings-group {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

form .settings-group > :last-child {
    margin-left: auto;
}

form input, form select {
    min-width: 35%;
    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}

form input, form select, form button {
    color: inherit;
    border: 1px solid var(--border);
    background-color: var(--button-bg);
}

.title {
    text-align: center;
    font-weight: normal;
}

.ozgur {
    color: var(--main-fg);
}

.sozluk {
    color: var(--title-fg);
}

.description {
    margin-top: -15px;
    text-align: center;
}

.topic {
    width: 70%;
    margin: 0 auto;
}

.topic > .entry {
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    background-color: var(--entry-bg);
}

.content {
    margin: 0;
    padding: 0;
}

.content .b, .content .url {
    text-decoration: none;
    color: var(--entry-link-fg);
}

.entry-datetime {
    opacity: 0.5;
    text-decoration: none;
}

.info {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    margin: 1rem 0 1rem 0;
    justify-content: space-between;
}

.info > div p {
    margin: 0;
    padding: 0;    
}

.author {
    width: 45%;
    text-align: center;
    margin: 3rem auto 1rem auto;
    background-color: var(--entry-bg);
}

.avatar {
    border: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.settings {
    width: 40%;
    margin: 0 auto;
    padding-top: 3rem;
}

@media screen and (width <= 1180px) {
    main, nav, .topic, .author {
        width: 80%;
    }

    form input, form select {
        width: 30%;
    }
}

@media screen and (width <= 800px) {
    main, nav, .topic, .author, .settings {
        width: 100%;
    }

    nav, .title, .description, .author {
        text-align: left;
    }

    form input, form select {
        width: 30%;
    }
}
