{% extends "base.html" %}
{% block title %}özgürsözlük - user: {{ author.nickname }}{% endblock %}
{% block main %}
    <nav>{% include "navigation.html" %}</nav>
    <div class="author">
        <img class="avatar" src="{{ author.avatar_link }}">
        <div style="padding: 0 0.5rem 0.5rem 0.5rem;">
            {{ author.nickname }}
            {% if author.level %}
                -
                <span style="opacity: 0.5;">{{ author.level }}</span>
            {% endif %}
            </br>
            <small>{{ author.entry_total_count }} entry</small>
            -
            <small>{{ author.user_follower_count }} follower</small>
            -
            <small>{{ author.user_following_count }} following</small>
        </div>
    </div>
    {% if author.biography %}
        <div class="author" style="margin: 0 auto;">
            <div style="padding: 0.5rem; text-align: left;">
                {{ author.biography|safe }}
            </div>
        </div>
    {% endif %}
{% endblock %}
