{% extends "base.html" %}
{% block title %}debe - özgürsözlük{% endblock %}
{% block meta %}
    <meta name="title" content="debe - özgürsözlük">
    <meta name="description" content="{{ description }}">
{% endblock %}
{% block main %}
    <nav>{% include "navigation.html" %}</nav>
    <div class="topic">
        <div class="info">
            <div>
                <p>debe - <a href="/">gündem</a></p>
            </div>
            <div></div>
        </div>
        {% for entry in debe %}
            <div class="entry">
                <div>
                    <div>
                        <a style="text-decoration: none;" href="{{ url_for('entry', id=entry.id) }}">
                            {{ entry.title }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
