{% extends "base.html" %}
{% block title %}özgürsözlük{% endblock %}
{% block meta %}
    <meta name="title" content="özgürsözlük">
    <meta name="description" content="{{ description }}">
{% endblock %}
{% block main %}
    <nav>{% include "navigation.html" %}</nav>
    <div class="topic">
        <div class="info">
            <div><p>gündem - <a href="/debe">debe</a></p></div>
            <div>
                {% if p > 1 %}
                    <a href="{{ url_for('index', p=p-1) }}">previous</a>
                    {% if p < 3 %}/{% endif %}
                {% endif %}
                {% if p < 3 %}
                    <a href="{{ url_for('index', p=p+1) }}">next</a>
                {% endif %}
                {% if 3 > 1 %}
                    -
                    <a href="{{ url_for('index', p=3) }}">last page</a>
                {% endif %}
            </div>
        </div>
        {% for topic in gundem %}
            {% if request.cookies.get('display_pinned_topics') == 'true' %}
                <a href="{{ url_for('topic', path=topic.path, a='popular') }}" class="entry">
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            {{ topic.title }}
                        </div>
                        <div>
                            {% if topic.pinned %}<small style="opacity: 0.5;">pinned</small>{% endif %}
                            {% if topic.entry_count %}
                                <small style="opacity: 0.5;">{{ topic.entry_count }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                {% if not topic.pinned %}
                    <a href="{{ url_for('topic', path=topic.path, a='popular') }}" class="entry">
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                {{ topic.title }}
                            </div>
                            <div>
                                {% if topic.entry_count %}
                                    <small style="opacity: 0.5;">{{ topic.entry_count }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="info" style="padding-top: 0;">
            <div></div>
            <div>
                {% if p > 1 %}
                    <a href="{{ url_for('index', p=p-1) }}">previous</a>
                    {% if p < 3 %}/{% endif %}
                {% endif %}
                {% if p < 3 %}
                    <a href="{{ url_for('index', p=p+1) }}">next</a>
                {% endif %}
                {% if 3 > 1 %}
                    -
                    <a href="{{ url_for('index', p=3) }}">last page</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
