{% extends "base.html" %}
{% block title %}özgürsözlük - {{ description }}{% endblock %}
{% block main %}
    <nav>{% include "navigation.html" %}</nav>
    <div class="topic">
        <div class="info">
            <div><p>gündem</p></div>
        </div>
        {% for topic in agenda %}
            <div class="entry">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <a style="text-decoration: none;" href="{{ topic.permalink }}">
                            {{ topic.title }}
                        </a>
                    </div>
                    <div>
                        {% if topic.pinned %}
                            <small style="opacity: 0.5;">pinned</small>
                        {% endif %}
                        {{ topic.views|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
