{% extends "base.html" %}
{% block title %}settings - özgürsözlük{% endblock %}
{% block meta %}
    <meta name="title" content="settings - özgürsözlük">
    <meta name="description" content="{{ description }}">
{% endblock %}
{% block main %}
    <div class="settings">
        <form method="POST" action="/settings">
            <div class="settings-group">
                theme:
                <select name="theme">
                    <option value="light" {% if theme == 'light' %}selected{% endif %}>light</option>
                    <option value="dark" {% if theme == 'dark' %}selected{% endif %}>dark</option>
                    <option value="amoled" {% if theme == 'amoled' %}selected{% endif %}>amoled</option>
                    <option value="violet" {% if theme == 'violet' %}selected{% endif %}>violet</option>
                    <option value="gruvbox" {% if theme == 'gruvbox' %}selected{% endif %}>gruvbox</option>
                    <option value="gruvboxlight" {% if theme == 'gruvboxlight' %}selected{% endif %}>gruvboxlight</option>
                    <option value="discord" {% if theme == 'discord' %}selected{% endif %}>discord</option>
                    <option value="startpage" {% if theme == 'startpage' %}selected{% endif %}>startpage</option>
                </select>
            </div>
            <div class="settings-group">
                display pinned topics:
                <select name="display_pinned_topics">
                    <option value="true" {% if display_pinned_topics == 'true' %}selected{% endif %}>yes</option>
                    <option value="false" {% if display_pinned_topics == 'false' %}selected{% endif %}>no</option>
                </select>
            </div>
            <div class="settings-group">
                display author nicknames:
                <select name="display_author_nicknames">
                    <option value="true" {% if display_author_nicknames == 'true' %}selected{% endif %}>yes</option>
                    <option value="false" {% if display_author_nicknames == 'false' %}selected{% endif %}>no</option>
                </select>
            </div>
            <div class="settings-group">
                ekşi base url:
                <select name="eksi_base_url">
                    <option value="https://eksisozluk.com" {% if eksi_base_url == 'https://eksisozluk.com' %} selected {% endif %}>eksisozluk.com</option>
                    <option value="https://eksisozluk1923.com" {% if eksi_base_url == 'https://eksisozluk1923.com' %} selected {% endif %}>eksisozluk1923.com</option>
                    <option value="https://eksisozluk2023.com" {% if eksi_base_url == 'https://eksisozluk2023.com' %} selected {% endif %}>eksisozluk2023.com</option>
                </select>
            </div>
            <div style="text-align: right; padding-top: 2rem; padding-bottom: 2rem;">
                <button style="width: 100%;" type="submit">save</button>
            </div>
        </form>
        <div style="text-align: center;">
            note: settings are saved in browser cookies, clearing your cookies will reset them.
            also this website does not have an official affiliation with eksisozluk.com.
            </br></br>
            v{{ version }}
            -
            last commit:
            <a href="{{ source }}/commit/{{ last_commit }}" target="_blank">{{ last_commit[:8] }}</a>
            -
            made with <3 on the <a href="{{ url_for('topic', path='thinkpad-t61--1883047') }}">t61</a>
        </div>
    </div>
{% endblock %}
