{% extends "base.html" %}
{% block title %}özgürsözlük - settings{% endblock %}
{% block main %}
    <div class="settings">
        <form method="POST" action="/settings">
            <div class="settings-group">
                theme:
                <select name="theme">
                    {% if theme == 'light' %}
                        <option value="light" selected>light</option>
                        <option value="dark">dark</option>
                    {% else %}
                        <option value="light">light</option>
                        <option value="dark" selected>dark</option>
                    {% endif %}
                </select>
            </div>
            <div class="settings-group">
                display author nickname:
                <select name="display_author_nickname">
                    {% if display_author_nickname == 'False' %}
                        <option value="False" selected>no</option>
                        <option value="True">yes</option>
                    {% else %}
                        <option value="False">no</option>
                        <option value="True" selected>yes</option>
                    {% endif %}
                </select>
            </div>
            <div class="settings-group">
                ekşi base url:
                <select name="eksi_base_url">
                    {% if eksi_base_url == 'https://eksisozluk.com' %}
                        <option value="https://eksisozluk.com" selected>eksisozluk.com</option>
                        <option value="https://eksisozluk2023.com">eksisozluk2023.com</option>
                    {% else %}
                        <option value="https://eksisozluk.com">eksisozluk.com</option>
                        <option value="https://eksisozluk2023.com" selected>eksisozluk2023.com</option>
                    {% endif %}
                </select>
            </div>
            <div style="text-align: right; padding-top: 2rem;"><button style="width: 100%;" type="submit">save</button></div>
        </form>
        <div style="text-align: center; padding-top: 3rem;">
            v{{ version }}
            -
            last commit: 
            <a href="{{ source }}/commit/{{ last_commit }}" target="_blank">
                {{ last_commit[:8] }}
            </a>
        </div>
    </div>
{% endblock %}
