{% extends "base.html" %}
{% block title %}{{ topic.title }} {% if p > 1 %}- page: {{ p }}{% endif %} - özgürsözlük{% endblock %}
{% block meta %}
    <meta name="title" content="özgürsözlük">
    <meta name="description" content="topic: {{ topic.title }}">
{% endblock %}
{% block main %}
    <nav>{% include "navigation.html" %}</nav>
    <div class="topic">
        <div class="info">
            <div>
                <p>
                    {{ topic.title }} - şükela:
                    {% if topic.nice %}
                        <a href="{{ url_for('topic', path=topic.path) }}"><b>nice</b></a>
                    {% else %}
                        <a href="{{ url_for('topic', path=topic.path, a='nice') }}">
                            nice
                        </a>
                    {% endif %}
                </p>
            </div>
            {% include "paginate.html" %}
        </div>
        {% for entry in topic.entrys %}
            <div class="entry">
                {{ entry.content_html|safe }}
                </br>
                <div style="text-align: right;">
                    {% if request.cookies.get('display_author_nicknames') == 'true' %}
                        <small>
                            <a href="{{ url_for('author', nickname=entry.author) }}">
                                {{ entry.author }}
                            </a>
                        </small>
                        -
                    {% endif %}
                    <small>
                        <a href="{{ url_for('entry', id=entry.id) }}">
                            {{ entry.datetime }}
                        </a>
                    </small>
                </div>
            </div>
        {% endfor %}
        <div class="info" style="padding-top: 0;">
            <div></div>
            {% include "paginate.html" %}
        </div>
    </div>
{% endblock %}
