{% extends "base.html" %}
{% block title %}özgürsözlük - {{ topic.title }}{% endblock %}
{% block main %}
    <nav>{% include "navigation.html" %}</nav>
    <div class="topic">
        <div class="info">
            <div>
                <p>
                    {{ topic.title }} - şükela:
                    {% if topic.nice %}
                        <a href="{{ url_for('topic', title=topic.title_id()) }}">
                            <b>nice</b>
                        </a>
                    {% else %}
                        <a href="{{ url_for('topic', title=topic.title_id(), p=p, a='nice') }}">nice</a>
                    {% endif %}
                </p>
            </div>
            <div>
                {% if a %}
                    {% if p > 1 %}
                        <a href="{{ url_for('topic', title=topic.title_id(), p=p-1) }}">previous</a>
                        {% if p < topic.pagecount %}/{% endif %}
                    {% endif %}
                    {% if p < topic.pagecount %}
                        <a href="{{ url_for('topic', title=topic.title_id(), p=p+1) }}">next</a>
                    {% endif %}
                    {% if topic.pagecount > 1 %}
                        -
                        <a href="{{ url_for('topic', title=topic.title_id(), p=topic.pagecount) }}">last page</a>
                    {% endif %}
                {% else %}
                    {% if p > 1 %}
                        <a href="{{ url_for('topic', title=topic.title_id(), p=p-1, a=a) }}">previous</a>
                        {% if p < topic.pagecount %}/{% endif %}
                    {% endif %}
                    {% if p < topic.pagecount %}
                        <a href="{{ url_for('topic', title=topic.title_id(), p=p+1, a=a) }}">next</a>
                    {% endif %}
                    {% if topic.pagecount > 1 %}
                        -
                        <a href="{{ url_for('topic', title=topic.title_id(), p=topic.pagecount, a=a) }}">last page</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% for entry in topic.entrys %}
            <div class="entry">
                {{ entry.content|safe }}
                </br>
                <div style="text-align: right;">
                    {% if request.cookies.get('display_author_nickname') == 'true' %}
                        <small>
                            <a href="{{ url_for('author', nickname=entry.author) }}">{{ entry.author }}</a>
                        </small>
                        -
                    {% endif %}
                    <small>
                        <a href="{{ url_for('entry', id=entry.id) }}">{{ entry.datetime }}</a>
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
